.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.item-card {
  margin: 1vw;
  background-blend-mode: soft-light;
}

@media (max-width: 768px) {
  .container {
    grid-template-columns: 1fr;
  }
}